body {
	background-color: "gray";
}

p {
		margin-bottom: 100px;
}

p, h1, h2, h3 {
	font-family: "Arial";
	margin-left: 50px;
	margin-right: 50px;
}

#groupname {
	font-size: 32;
	font-weight: bold;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
}